<div class="go-right" *ngIf="userAuthorization?.isAdmin">
    <button class="btn btn-sm btn-primary" (click)="goToAddArtist()">New Artist</button>
</div>

<div *ngIf="!pagination && isDataLoading">
    <app-progress-spinner></app-progress-spinner>
</div>
<div *ngIf="pagination && pagination.items.length > 0 && !isDataLoading" class="page-container">
    <div *ngFor="let item of pagination.items; let i = index">
        <div class="row artist-row" *ngIf="i % 3 === 0">
            <article class="col-lg-4 col-md-4 col-sm-4" *ngIf="i < pagination.items.length">
                <div class="artist-item-image" (click)="goToViewArtist(pagination.items[i].id)">
                    <img src="./assets/img/artistImage.jpg" class="img-fluid img-thumbnail"/>
                </div>
                <div class="artist-item-info">
                    <span class="artist-item-name">{{pagination.items[i].name}}</span>
                    <span *ngIf="userAuthorization?.isAdmin">
                        <span class="action-item">
                            <i class="fa fa-pencil" mdTooltip="Edit" aria-hidden="true"
                           (click)="goToEditArtist(pagination.items[i].id)"></i>
                        </span>
                        <span class="action-item">
                            <i class="fa fa-trash-o" mdTooltip="Delete" aria-hidden="true"
                            (click)="onDeleteArtistClick(pagination.items[i].id)"></i>
                        </span>
                    </span>
                </div>
            </article>

            <article class="col-lg-4 col-md-4 col-sm-4" *ngIf="i + 1 < pagination.items.length">
                <div class="artist-item-image" (click)="goToViewArtist(pagination.items[i + 1].id)">
                    <img src="./assets/img/artistImage.jpg" class="img-fluid img-thumbnail"/>
                </div>
                <div class="artist-item-info">
                    <span class="artist-item-name">{{pagination.items[i+1].name}}</span>
                    <span *ngIf="userAuthorization?.isAdmin">
                        <span class="action-item">
                            <i class="fa fa-pencil" mdTooltip="Edit" aria-hidden="true"
                               (click)="goToEditArtist(pagination.items[i+1].id)"></i>
                        </span>
                        <span class="action-item">
                            <i class="fa fa-trash-o" mdTooltip="Delete" aria-hidden="true"
                               (click)="onDeleteArtistClick(pagination.items[i+1].id)"></i>
                        </span>
                    </span>
                </div>
            </article>

            <article class="col-lg-4 col-md-4 col-sm-4" *ngIf="i + 2 < pagination.items.length">
                <div class="artist-item-image" (click)="goToViewArtist(pagination.items[i + 2].id)">
                    <img src="./assets/img/artistImage.jpg" class="img-fluid img-thumbnail"/>
                </div>
                <div class="artist-item-info">
                    <span class="artist-item-name">{{pagination.items[i+2].name}}</span>
                    <span *ngIf="userAuthorization?.isAdmin">
                        <span class="action-item">
                            <i class="fa fa-pencil" mdTooltip="Edit" aria-hidden="true"
                               (click)="goToEditArtist(pagination.items[i+2].id)"></i>
                        </span>
                        <span class="action-item">
                            <i class="fa fa-trash-o" mdTooltip="Delete" aria-hidden="true"
                               (click)="onDeleteArtistClick(pagination.items[i+2].id)"></i>
                        </span>
                    </span>
                </div>
            </article>
        </div>
    </div>

    <div class="row">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled': pagination.page === 1}" (click)="onArtistPageClick(1)">
            <span aria-label="First" class="page-link" tabindex="-1">
                <span aria-hidden="true">««</span>
            </span>
            </li>

            <li class="page-item" [ngClass]="{'disabled': pagination.page === 1}">
            <span aria-label="Previous" class="page-link" tabindex="-1"
                  (click)="onArtistPageClick(pagination.page - 1)">
                <span aria-hidden="true">«</span>
            </span>
            </li>

            <li class="page-item active">
            <span aria-label="Current" class="page-link" tabindex="-1">
                <span aria-hidden="true">{{pagination.page}}</span>
            </span>
            </li>

            <li class="page-item" [ngClass]="{'disabled': pagination.page >= pagination.totalPages}">
            <span aria-label="Next" class="page-link" (click)="onArtistPageClick(pagination.page + 1)">
                <span aria-hidden="true">»</span>
            </span>
            </li>

            <li class="page-item" [ngClass]="{'disabled': pagination.page >= pagination.totalPages}">
            <span aria-label="Last" class="page-link" tabindex="-1" (click)="onArtistPageClick(pagination.totalPages)">
                <span aria-hidden="true">»»</span>
            </span>
            </li>
        </ul>
    </div>
</div>
