<div class="go-right">
    <button class="btn btn-sm btn-primary" (click)="goToAddArtist()">New Artist</button>
</div>

<div *ngIf="pagination" class="page-container">
    <div *ngFor="let item of pagination.items; let i = index">
        <div class="row" *ngIf="i % 3 === 0">
            <article class="col-lg-4 artist-list-item" *ngIf="i < pagination.items.length">
                {{pagination.items[i].name}}
                <span class="action-item">
                    <i class="fa fa-eye" aria-hidden="true" (click)="goToViewArtist(pagination.items[i].id)"></i>
                </span>
                <span class="action-item">
                    <i class="fa fa-pencil" aria-hidden="true" (click)="goToEditArtist(pagination.items[i].id)"></i>
                </span>
            </article>

            <article class="col-lg-4 artist-list-item" *ngIf="i + 1 < pagination.items.length">
                {{pagination.items[i+1].name}}
                <span class="action-item">
                    <i class="fa fa-eye" aria-hidden="true" (click)="goToViewArtist(pagination.items[i+1].id)"></i>
                </span>
                <span class="action-item">
                    <i class="fa fa-pencil" aria-hidden="true" (click)="goToEditArtist(pagination.items[i+1].id)"></i>
                </span>
            </article>

            <article class="col-lg-4 artist-list-item" *ngIf="i + 2 < pagination.items.length">
                {{pagination.items[i+2].name}}
                <span class="action-item">
                    <i class="fa fa-eye" aria-hidden="true" (click)="goToViewArtist(pagination.items[i+2].id)"></i>
                </span>
                <span class="action-item">
                    <i class="fa fa-pencil" aria-hidden="true" (click)="goToEditArtist(pagination.items[i+2].id)"></i>
                </span>
            </article>
        </div>
    </div>

    <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': pagination.page === 1}" (click)="onArtistPageClick(1)">
            <span aria-label="First" class="page-link" tabindex="-1">
                <span aria-hidden="true">««</span>
            </span>
        </li>

        <li class="page-item" [ngClass]="{'disabled': pagination.page === 1}">
            <span aria-label="Previous" class="page-link" tabindex="-1"
                  (click)="onArtistPageClick(pagination.page - 1)">
                <span aria-hidden="true">«</span>
            </span>
        </li>

        <li class="page-item active">
            <span aria-label="Current" class="page-link" tabindex="-1">
                <span aria-hidden="true">{{pagination.page}}</span>
            </span>
        </li>

        <li class="page-item" [ngClass]="{'disabled': pagination.page >= pagination.totalPages}">
            <span aria-label="Next" class="page-link" (click)="onArtistPageClick(pagination.page + 1)">
                <span aria-hidden="true">»</span>
            </span>
        </li>

        <li class="page-item" [ngClass]="{'disabled': pagination.page >= pagination.totalPages}">
            <span aria-label="Last" class="page-link" tabindex="-1" (click)="onArtistPageClick(pagination.totalPages)">
                <span aria-hidden="true">»»</span>
            </span>
        </li>
    </ul>
</div>
