<div class="go-right">
    <button class="btn btn-sm btn-primary" (click)="goToAddSongCategory()">New song category</button>
</div>

<div *ngIf="!songCategories && isDataLoading">
    <div class="col-lg-5 col-md-5 col-sm-5"></div>
    <app-progress-spinner class="col-lg-2 col-md-2 col-sm-2"></app-progress-spinner>
    <div class="col-lg-5 col-md-5 col-sm-5"></div>
</div>

<div *ngIf="songCategories && songCategories.length > 0 && !isDataLoading" class="page-container">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let songCategory of songCategories">
            <td>{{songCategory.name}}</td>
            <td>
                <span class="action-item">
                    <i class="fa fa-pencil" mdTooltip="Edit" aria-hidden="true" (click)="goToEditSongCategory(songCategory.id)"></i>
                </span>
                <span class="action-item">
                    <i class="fa fa-trash-o" mdTooltip="Delete" aria-hidden="true" (click)="onDeleteSongCategoryClick(songCategory.id)"></i>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
