<div class="go-right">
    <button class="btn btn-sm btn-primary" (click)="goToAddInstrument()">New Instrument</button>
</div>

<div *ngIf="!instruments && isDataLoading">
    <div class="col-lg-5 col-md-5 col-sm-5"></div>
    <app-progress-spinner class="col-lg-2 col-md-2 col-sm-2"></app-progress-spinner>
    <div class="col-lg-5 col-md-5 col-sm-5"></div>
</div>

<div *ngIf="instruments && !isDataLoading" class="page-container">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let instrument of instruments">
            <td>{{instrument.name}}</td>
            <td>
                <span class="action-item">
                    <i class="fa fa-pencil" mdTooltip="Edit" aria-hidden="true" (click)="goToEditInstrument(instrument.id)"></i>
                </span>
                <span class="action-item">
                    <i class="fa fa-trash-o" mdTooltip="Delete" aria-hidden="true" (click)="onDeleteInstrumentClick(instrument.id)"></i>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
