<app-progress-spinner *ngIf="isDataLoading"></app-progress-spinner>
<div *ngIf="song && !isDataLoading">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>{{song.name}}
                <i class="fa fa-thumbs-up action-item" mdTooltip="Unlike" aria-hidden="true" *ngIf="isSongLiked"
                   (click)="toggleUserSongPreference()"></i>
                <i class="fa fa-thumbs-o-up action-item" mdTooltip="Like" aria-hidden="true" *ngIf="!isSongLiked"
                   (click)="toggleUserSongPreference()"></i>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <iframe title="YouTube video player"
                    class="youtube-player"
                    type="text/html"
                    [src]="videoUrl"
                    height="330px"
                    width="100%"
                    frameborder="0">
            </iframe>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div>
                <label>Artist</label>
                <span>{{song.artist.name}}</span>
            </div>
            <div>
                <label>Category:</label>
                <span>{{song.songCategory.name}}</span>
            </div>
            <div>
                <label>Instruments:</label>
                <span *ngFor="let instrument of song.instruments">
                    {{instrument.name}},
                </span>
            </div>
            <div>
                <label>Tags:</label>
                <span *ngFor="let tag of song.tags">
                    #{{tag.name}},
                </span>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button class="btn btn-primary" type="button" (click)="goBack()">Back</button>
        </div>
    </div>
</div>

<div class="row song-recommendations-container" *ngIf="!areRecommendationsLoading">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="recommendations-title">You may also like:</p>
    </div>

    <div>
        <article class="col-lg-3 col-md-3 col-sm-3" *ngIf="recommendations?.length > 0">
            <div class="recommendation-image" (click)="goToSong(recommendations[0].id)">
                <img src="./assets/img/songNote.png" class="img-fluid img-thumbnail"/>
            </div>
            <p class="recommendation-info">{{recommendations[0].artist.name}} - {{recommendations[0].name}}</p>
        </article>

        <article class="col-lg-3 col-md-3 col-sm-3" *ngIf="recommendations?.length > 1">
            <div class="recommendation-image" (click)="goToSong(recommendations[1].id)">
                <img src="./assets/img/songNote.png" class="img-fluid img-thumbnail"/>
            </div>
            <p class="recommendation-info">{{recommendations[1].artist.name}} - {{recommendations[1].name}}</p>
        </article>

        <article class="col-lg-3 col-md-3 col-sm-3" *ngIf="recommendations?.length > 2">
            <div class="recommendation-image" (click)="goToSong(recommendations[2].id)">
                <img src="./assets/img/songNote.png" class="img-fluid img-thumbnail"/>
            </div>
            <p class="recommendation-info">{{recommendations[2].artist.name}} - {{recommendations[2].name}}</p>
        </article>

        <article class="col-lg-3 col-md-3 col-sm-3" *ngIf="recommendations?.length > 3">
            <div class="recommendation-image" (click)="goToSong(recommendations[3].id)">
                <img src="./assets/img/songNote.png" class="img-fluid img-thumbnail"/>
            </div>
            <p class="recommendation-info">{{recommendations[3].artist.name}} - {{recommendations[3].name}}</p>
        </article>
    </div>
</div>
