<div class="row" *ngIf="userAuthorization?.isAdmin">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="go-right">
            <button class="btn btn-sm btn-primary" (click)="goToAddSong()">New Song</button>
        </div>
    </div>
</div>

<div *ngIf="!pagination && isDataLoading">
    <div class="col-lg-5 col-md-5 col-sm-5"></div>
    <app-progress-spinner class="col-lg-2 col-md-2 col-sm-2"></app-progress-spinner>
    <div class="col-lg-5 col-md-5 col-sm-5"></div>
</div>
<div *ngIf="pagination && pagination.items.length > 0 && !isDataLoading" class="page-container">
    <div *ngFor="let item of pagination.items; let i = index">
        <div class="row song-row" *ngIf="i % 3 === 0">
            <article class="col-lg-4 col-md-4 col-sm-4" *ngIf="i < pagination.items.length">
                <div class="song-item-image" (click)="goToViewSong(pagination.items[i].id)">
                    <img src="./assets/img/songNote.png" class="img-fluid img-thumbnail"/>
                </div>
                <div class="song-item-info">
                    <span class="song-item-name">{{pagination.items[i].name}}</span>
                    <span *ngIf="userAuthorization?.isAdmin">
                        <span class="action-item">
                            <i class="fa fa-pencil" mdTooltip="Edit" aria-hidden="true"
                               (click)="goToEditSong(pagination.items[i].id)"></i>
                        </span>
                        <span class="action-item">
                            <i class="fa fa-trash-o" mdTooltip="Delete" aria-hidden="true"
                               (click)="onDeleteSongClick(pagination.items[i].id)"></i>
                        </span>
                    </span>
                </div>
            </article>

            <article class="col-lg-4 col-md-4 col-sm-4" *ngIf="i + 1 < pagination.items.length">
                <div class="song-item-image" (click)="goToViewSong(pagination.items[i+1].id)">
                    <img src="./assets/img/songNote.png" class="img-fluid img-thumbnail"/>
                </div>
                <div class="song-item-info">
                    <span class="song-item-name">{{pagination.items[i+1].name}}</span>
                    <span *ngIf="userAuthorization?.isAdmin">
                        <span class="action-item">
                            <i class="fa fa-pencil" mdTooltip="Edit" aria-hidden="true"
                               (click)="goToEditSong(pagination.items[i+1].id)"></i>
                        </span>
                        <span class="action-item">
                            <i class="fa fa-trash-o" mdTooltip="Delete" aria-hidden="true"
                               (click)="onDeleteSongClick(pagination.items[i+1].id)"></i>
                        </span>
                    </span>
                </div>
            </article>

            <article class="col-lg-4 col-md-4 col-sm-4" *ngIf="i + 2 < pagination.items.length">
                <div class="song-item-image" (click)="goToViewSong(pagination.items[i+2].id)">
                    <img src="./assets/img/songNote.png" class="img-fluid img-thumbnail"/>
                </div>
                <div class="song-item-info">
                    <span class="song-item-name">{{pagination.items[i+2].name}}</span>
                    <span *ngIf="userAuthorization?.isAdmin">
                        <span class="action-item">
                            <i class="fa fa-pencil" mdTooltip="Edit" aria-hidden="true"
                               (click)="goToEditSong(pagination.items[i+2].id)"></i>
                        </span>
                        <span class="action-item">
                            <i class="fa fa-trash-o" mdTooltip="Delete" aria-hidden="true"
                               (click)="onDeleteSongClick(pagination.items[i+2].id)"></i>
                        </span>
                    </span>
                </div>
            </article>
        </div>
    </div>


    <div class="row">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled': pagination.page === 1}" (click)="onSongPageClick(1)">
            <span aria-label="First" class="page-link" tabindex="-1">
                <span aria-hidden="true">««</span>
            </span>
            </li>

            <li class="page-item" [ngClass]="{'disabled': pagination.page === 1}">
            <span aria-label="Previous" class="page-link" tabindex="-1"
                  (click)="onSongPageClick(pagination.page - 1)">
                <span aria-hidden="true">«</span>
            </span>
            </li>

            <li class="page-item active">
            <span aria-label="Current" class="page-link" tabindex="-1">
                <span aria-hidden="true">{{pagination.page}}</span>
            </span>
            </li>

            <li class="page-item" [ngClass]="{'disabled': pagination.page >= pagination.totalPages}">
            <span aria-label="Next" class="page-link" (click)="onSongPageClick(pagination.page + 1)">
                <span aria-hidden="true">»</span>
            </span>
            </li>

            <li class="page-item" [ngClass]="{'disabled': pagination.page >= pagination.totalPages}">
            <span aria-label="Last" class="page-link" tabindex="-1" (click)="onSongPageClick(pagination.totalPages)">
                <span aria-hidden="true">»»</span>
            </span>
            </li>
        </ul>
    </div>
</div>
