<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/discover">Musicfy</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown" [ngClass]="{'open': topMenuOpened}" (click)="openTopMenu()">
            <a class="dropdown-toggle action-item" data-toggle="dropdown"><i class="fa fa-user"></i> {{userAuthorization.username}}
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!--<li class="action-item">-->
                    <!--<span><i class="fa fa-fw fa-user"></i> Profile</span>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <li class="action-item" (click)="logout()">
                    <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li [ngClass]="{'active': sections.discover === section}">
                <a routerLink="/discover"><i class="fa fa-podcast" aria-hidden="true"></i>  Discover</a>
            </li>
            <!--<li [ngClass]="{'active': sections.dashboard === section}">-->
                <!--<a routerLink="/profile"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>-->
            <!--</li>-->
            <li [ngClass]="{'active': sections.artists === section}">
                <a routerLink="/artists"><i class="fa fa-users" aria-hidden="true"></i> Artists</a>
            </li>
            <li [ngClass]="{'active': sections.songs === section}">
                <a routerLink="/songs"><i class="fa fa-headphones" aria-hidden="true"></i> Songs</a>
            </li>
            <li [ngClass]="{'active': sections.songCategories === section}" *ngIf="userAuthorization.isAdmin">
                <a routerLink="/songCategories"><i class="fa fa-object-group" aria-hidden="true"></i> Song Categories</a>
            </li>
            <li [ngClass]="{'active': sections.instruments === section}" *ngIf="userAuthorization.isAdmin">
                <a routerLink="/instruments"><i class="fa fa-music" aria-hidden="true"></i> Instruments</a>
            </li>
            <li [ngClass]="{'active': sections.tags === section}" *ngIf="userAuthorization.isAdmin">
                <a routerLink="/tags"><i class="fa fa-tags" aria-hidden="true"></i> Tags</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
