<div class="container">
    <div id="login-box">
        <div class="logo">
            <img src="./assets/img/musicfy-logo.png" class="img img-responsive img-circle center-block"/>
            <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
        </div><!-- /.logo -->
        <div class="controls">
            <input type="text" name="username" placeholder="Username" class="form-control" />
            <div class="input-error">Username is required</div>
            <br/>

            <input type="password" name="password" placeholder="Password" class="form-control" />
            <div class="input-error">Password is required</div>
            <br/>

            <button type="button" class="btn btn-default btn-block btn-custom">Login</button>
        </div><!-- /.controls -->
    </div><!-- /#login-box -->
</div><!-- /.container -->
