.artist-list-item {
    border:black;
}

.artist-row {
    margin-bottom: 25px;
}

.artist-item-image {
    width:70%;
    height:80%;
    cursor:pointer;
    display: block;
    margin: 0 auto;
}

.artist-item-name {
    font-size: 18px;
}

.artist-item-info {
    text-align:center;
}
