.input-error {
    padding-left: 1px;
    padding-top: 5px;
    color: #ff5252;
}

.page-container {
    margin-top: 40px;
}

.go-right {
    float:right
}

.go-left {
    float:left;
}

.page-link {
    cursor:pointer !important;
}

.action-item {
    cursor: pointer;
    padding: 0px 2px 0px 2px;
}

.select2-container {
    width: 100% !important;
}

.page-container .pagination {
    float:right;
    position:relative;
    left:-45%;
    text-align:left;
}

.page-container .pagination ul {
    list-style:none;
    position:relative;
    left:45%;
}

.page-container .pagination li {
    float:left;
    position:relative;
}

#page-wrapper {
    min-height: 1000px !important;
}
