.input-error {
    padding-left: 1px;
    padding-top: 5px;
    color: #ff5252;
}

.page-container {
    margin-top: 40px;
}

.go-right {
    float:right
}

.go-left {
    float:left;
}

.page-link {
    cursor:pointer !important;
}

.action-item {
    cursor: pointer;
}

.select2-container {
    width: 100% !important;
}
