.song-row {
    margin-bottom: 25px;
}

.song-item-image {
    width:70%;
    height:80%;
    cursor:pointer;
    display: block;
    margin: 0 auto;
}

.song-item-name {
    font-size: 18px;
}

.song-item-info {
    text-align:center;
}

.song-info-details {
    font-size: 16px;
}

.recommendations-title {
    font-size:18px;
}
.song-recommendations-container {
    margin-top: 30px;
}

.recommendation-image {
    width:90%;
    height:60%;
    cursor:pointer;
}

.recommendation-info {
    font-size: 16px;
    padding: 2px 5px;
}
