<app-progress-spinner *ngIf="!instrument && isDataLoading"></app-progress-spinner>
<form *ngIf="instrument && !isDataLoading" #editInstrumentForm="ngForm" novalidate>
    <div class="row">
        <fieldset class="form-group col-lg-8">
            <label class="ng-tns-c24-2">Name</label>
            <input #name="ngModel" class="form-control" type="text" id="name" name="name"
                   [(ngModel)]="instrument.name" notEmpty>
            <div class="input-error" *ngIf="formSubmitted && name.errors">
                Name is required
            </div>
        </fieldset>
    </div>

    <div clas="row">
        <button class="btn btn-primary" type="button" (click)="editInstrument(editInstrumentForm.form.valid)">Save</button>
        <button class="btn btn-danger" type="button" (click)="goToList()">Cancel</button>
    </div>
</form>
